.task {
  overflow: auto;
  padding: 5px;
  border: solid;
  border-radius: 10px;
}

.left-box {
  float: left;
  width: 10%;
}

.center-box {
  float: left;
  width: 20%
}
.right-box {
  float: left;
  width: 70%;
}
