<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% block title %}Task List{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'tasks/css/task_list.css' %}"> 
  <h1>Task List</h1>
</head>

<body>
  {% for task in task_list %}
  <section class="task">
	<div class="left-box">
	  <p>{{ task.get_status_display }}</p>
	</div>
	<div class="center-box">
	  <p>{{ task.date }}</p>
	</div>
	<div class="right-box">
	  <p>{{ task.title }}</p>
	  <p>{{ task.notes }}</p>
	</div>
  </section>
    <br>
  {% endfor %}
</body>

<script src="{% static 'tasks/js/task_list.js' %}"></script>

{% endblock %}
